.section-header-smalltext{
    color: #9E9E9E;
    font-size: 18px;
    margin-top: 6px;
}
.section-flashcard-container{
    padding: 25px 0 0;
}
.section-flashcard-intro{
    padding: 0px 0 60px;
    max-width: 330px;
    margin: 0 auto;
}
.section-flashcard-intro-header{
    color:rgba(0,0,0,.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
}
.section-flashcard-intro-list {
    font-size: 19px;
    padding: 20px 0 40px;
}
.section-flashcard-intro-list ul {
    list-style-type: disc;
    padding: 0 15px 0 25px;
}
.section-flashcard-intro-list ul li {
    padding: 0 0 15px;
}
a.secondary-anchor-link {
    color: #444444;
    font-size: 18px;
    text-decoration: underline;
    margin: 15px 0 0;
}
.section-flashcard-blockinfo{
    color: #2B2B2B;
    font-size: 19px;
    line-height: 1.3;
    padding: 0 0 50px;
    max-width: 420px;
    margin: auto;
}
.section-flashcard-block{
    text-align: center;
    padding: 0px 0 60px;
}
.section-flashcard-block-parent{
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.section-flashcard-block-child{
    padding: 15px;
    font-size: 18px;
    color: rgba(0,0,0,.8);
    line-height: 1.4;
    font-weight: 700;
    width: 230px;
    min-height: 215px;
    margin: 0 30px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.15s all linear;
}
.section-flashcard-block-child:hover{
    box-shadow: 0 12px 25px 12px rgba(146, 146, 146, .3);
}
.section-flashcard-block-parent .section-flashcard-block-child:last-child{
    margin: 0 0px 0 0;
}
.section-flashcard-block-icon {
    background-position: center;
    background-size: contain;
    height: 24px;
    width: 24px;
    margin: 15px 0 0;
    position: absolute;
    bottom: 20px;
    transform: translate(50%, 0);
    right: 50%;
}
.section-flashcard-block-parent.section-flashcard-rectangle{
    display: block;
    max-width: 420px;
    margin: auto;
}
.section-flashcard-rectangle .section-flashcard-block-child{
    min-height: 95px;
    width: 100%;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 20px;
}
.section-flashcard-rectangle .section-flashcard-block-icon{
    bottom: 50%;
    right: 20px;
    margin: 0px 0 0;
    height: 20px;
    width: 20px;
    transform: translate(0%, 50%);
}
.section-flashcard-rectangle .section-flashcard-child-desc{
    max-width: 85%;
}
.section-quiz-flashcard-wrapper {
    max-width: 420px;
    margin: auto;
    padding: 0 0 60px;
}
.section-quiz-flashcard-btn{
    padding: 50px 0 0;
}
.section-quiz-flashcard-list{
    padding: 30px;
    display: none;
    transition: .3s all linear;
}
.section-quiz-flashcard-logo{
    width: 135px;
    height: 135px;
    background-position: 0px 7px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
.flashcard-logo1{background-image: url(images/employee-illustration-1.svg);}
.flashcard-logo2{background-image: url(images/employee-illustration-3.svg);}
.flashcard-logo3{background-image: url(images/employee-illustration-2.svg);}
.flashcard-logo4{background-image: url(images/employee-illustration-4.svg);}
.section-quiz-flashcard-info {
    color: rgba(68, 68, 68, .8);
    font-size: 19px;
    line-height: 1.3;
    padding: 35px 0 15px;
    min-height: 155px;
}
.section-quiz-flashcard-count {
    color: #8B8B8B;
    font-size: 16px;
    line-height: 1.3;
    text-align: right;
}
.flashcard-list1{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 14px 0 -5px #fff, 0 14px 1px -4px rgba(0, 0, 0, 0.15), 0 28px 0 -10px #fff, 0 28px 1px -9.5px rgba(0, 0, 0, 0.15), 0 42px 0 -15px #fff, 0 42px 1px -14.5px rgba(0, 0, 0, 0.15);
}
.flashcard-list2{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 14px 0 -5px #fff, 0 14px 1px -4px rgba(0, 0, 0, 0.15), 0 28px 0 -10px #fff, 0 28px 1px -9.5px rgba(0, 0, 0, 0.15);
}
.flashcard-list3{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 14px 0 -5px #fff, 0 14px 1px -4px rgba(0, 0, 0, 0.15);
}
